{{!-- //Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) --}}

<!-- index.hbs -->
<h1>Virginia Chess League Database</h1>
<p>This website contains a database with tables of chess league players, chess league seasons, chess opening moves, 
    possible chess results, and chess games referencing all prior tables. Use the navigation links at the top of the page 
    to see more details about each.
</p>





