<h1>Results</h1>
<p>Each game can have one of three possible results, listed in the table on this page. 
    The results table is for informative purposes. It cannot be changed in any way.</p>


{{!-- Citation for displaying table data --}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}
<h2>Results Table</h2>
{{!-- Create Results Table --}}
<table id="results-table">
    {{!-- Results Table Header --}}
    <thead>
        {{!-- make first row of table the column names --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Results Table Body/Rows --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.resultID}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>